.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 30px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 100px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #ffd700;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: right;
    border-radius: 4px;

    &:hover {
        background: #ffd700;
        color: #333;
    }
  }
}

.envelope-image {
  margin-left: 55%;
  margin-top: 6%;
  position: relative;

  p {
    position: absolute;
    bottom: 180px;
    left: 78px;
    font-size: 15px;
    font-family: 'La Belle Aurore';
    display: inline-block;
    opacity: 1;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
  }
  img {
    height: 400px;
    width: auto;
  }
}

.contact-me {
  display: flex;
  justify-content: space-between;
  // gap: 50px;
}

.contact-card {
  background-color: black;
  margin-right: -80px;
  height: 70px;
  border-radius: 6px;
  animation: fadeInLeft 2s 1s;
}

.contact-card-content {
  
  font-size: 14px;
  padding-top: 10px;
  color: #fff;
  margin-top: 6px;
  margin-left: 16px;
  margin-right: 16px;
}